In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("추천하기.csv")
df.head(1)

,Unnamed: 0,userId,EXAMIN_BEGIN_DE,성별,연령대,거주지,가구소득정도,사용목적1순위값,사용목적2순위값,평일일평균레저시간값,...,휴식오락사용비율,취미사용비율,본인계발사용비율,대인관계교제사용비율,기타사용비율,관심레저활동1순위값,관심레저활동2순위값,관심레저활동3순위값,관심레저활동4순위값,관심레저활동5순위값
0,0,53322222,20230503,M,30대,서울특별시,300이상500만원 미만,스트레스 해소를 위해,가족-지인 등과 시간을 보내기 위해,2,...,30.0,40.0,20.0,10.0,0.0,골프 직접 하기,국내 프로스포츠 영상 시청,산책-걷기,종교활동,국내 프로스포츠 현장 관람

In [5]:
df.columns

Index(['Unnamed: 0', 'userId', 'EXAMIN_BEGIN_DE', '성별', '연령대', '거주지', '가구소득정도',
       '사용목적1순위값', '사용목적2순위값', '평일일평균레저시간값', '주말일평균레저시간값', '휴식오락사용비율',
       '취미사용비율', '본인계발사용비율', '대인관계교제사용비율', '기타사용비율', '관심레저활동1순위값',
       '관심레저활동2순위값', '관심레저활동3순위값', '관심레저활동4순위값', '관심레저활동5순위값'],
      dtype='object')

In [6]:
df = df.drop(['Unnamed: 0', 'EXAMIN_BEGIN_DE', '성별', '연령대', '거주지', '가구소득정도',
       '사용목적1순위값', '사용목적2순위값', '평일일평균레저시간값', '주말일평균레저시간값', '휴식오락사용비율',
       '취미사용비율', '본인계발사용비율', '대인관계교제사용비율', '기타사용비율'], axis=1)

In [7]:
df.head()

,userId,관심레저활동1순위값,관심레저활동2순위값,관심레저활동3순위값,관심레저활동4순위값,관심레저활동5순위값
0,53322222,골프 직접 하기,국내 프로스포츠 영상 시청,산책-걷기,종교활동,국내 프로스포츠 현장 관람
1,53322236,영상 컨텐츠 시청,수다-잡담하기,쇼핑,독서,없음
2,53322268,쇼핑,영상 컨텐츠 시청,국내 여행,계모임-동창회-사교모임,산책-걷기
3,53322911,보드게임-퍼즐-바둑-장기-체스 등,가족-친지 만남,산책-걷기,맛집-카페 탐방,게임
4,53322912,쇼핑,수다-잡담하기,온천-사우나-찜질방,산책-걷기,계모임-동창회-사교모임

In [8]:
df.to_csv("유저_관심순위.csv")