In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../alldata_date.csv')
people = pd.read_csv("../202312_202312_연령별인구현황_연간.csv", encoding="cp949")

In [2]:
people = people.drop(['2023년_거주자_총인구수', '2023년_거주자_연령구간인구수'], axis=1)

In [3]:
people = people.rename(columns={'2023년_거주자_20~29세': '20대',
                                 '2023년_거주자_30~39세': '30대',
                                 '2023년_거주자_40~49세': '40대',
                                 '2023년_거주자_50~59세': '50대',
                                 '2023년_거주자_60~69세': '60대',
                                 })
for i in range(18):
    people = people.rename(index={i: people['행정구역'][i][0:-14]})

people = people.rename(index={'강원특별자치도':'강원도'})

In [4]:
people = people.drop('행정구역', axis=1)

In [5]:
people.to_csv("1_연령별인구수.csv", encoding="utf-8-sig")

In [6]:
people

               20대        30대        40대        50대        60대
전국       6,181,043  6,547,026  7,871,366  8,630,322  7,585,955
서울특별시    1,350,822  1,419,153  1,406,016  1,476,224  1,301,333
부산광역시      376,716    389,098    481,534    537,918    557,851
대구광역시      281,916    278,986    354,272    418,120    364,425
인천광역시      362,935    410,863    477,344    511,852    438,663
광주광역시      190,483    173,371    226,190    239,453    184,047
대전광역시      198,812    187,192    218,887    241,771    201,181
울산광역시      122,298    136,439    177,176    203,819    168,743
세종특별자치시     37,758     59,240     76,961     54,256     37,106
경기도      1,677,623  1,871,078  2,243,227  2,318,045  1,819,701
강원도        163,201    157,997    207,692    260,923    274,254
충청북도       181,330    187,136    229,545    271,144    257,216
충청남도       225,170    250,194    322,451    348,173    323,902
전라북도       190,387    172,410    243,945    299,487    283,963
전라남도       177,840    169,028    239,871    309,036    304,757
경상북도       247,746    258,107    355,520    442,662    448,137
경상남도       322,143    348,910    502,738    580,017    527,532
제주특별자치도     73,863     77,824    107,997    117,422     93,144

In [7]:
df = df.drop('Unnamed: 0', axis=1)
df.head(3)

,EXAMIN_BEGIN_DE,성별,연령대,거주지,가구소득정도,사용목적1순위값,사용목적2순위값,평일일평균레저시간값,주말일평균레저시간값,휴식오락사용비율,취미사용비율,본인계발사용비율,대인관계교제사용비율,기타사용비율,관심레저활동1순위값
0,20230503,M,30대,서울특별시,300이상500만원 미만,스트레스 해소를 위해,가족-지인 등과 시간을 보내기 위해,2,3,30.0,40.0,20.0,10.0,0.0,골프 직접 하기
1,20230503,F,40대,서울특별시,700만원 이상,대인 관계-교제를 위해,마음의 안정-휴식을 위해,1,3,0.0,0.0,50.0,50.0,0.0,영상 컨텐츠 시청
2,20230503,F,50대,서울특별시,500이상700만원 미만,가족-지인 등과 시간을 보내기 위해,대인 관계-교제를 위해,10,12,80.0,0.0,0.0,20.0,0.0,쇼핑

In [8]:
df.rename(columns={'EXAMIN_BEGIN_DE' : '날짜',
                   }, inplace=True)

In [9]:
df.to_csv("2_제일처음데이터.csv", encoding="utf-8-sig")

In [10]:
df['계절'] = df['날짜'].apply(lambda x : str(x)[4:6])

In [11]:
df['계절'] = df['계절'].replace('01', '겨울')
df['계절'] = df['계절'].replace('02', '봄')
df['계절'] = df['계절'].replace('03', '봄')
df['계절'] = df['계절'].replace('04', '봄')
df['계절'] = df['계절'].replace('05', '여름')
df['계절'] = df['계절'].replace('06', '여름')
df['계절'] = df['계절'].replace('07', '여름')
df['계절'] = df['계절'].replace('08', '가을')
df['계절'] = df['계절'].replace('09', '가을')
df['계절'] = df['계절'].replace('10', '가을')
df['계절'] = df['계절'].replace('11', '겨울')
df['계절'] = df['계절'].replace('12', '겨울')

In [12]:
df = df.drop('날짜', axis=1)

In [13]:
# 위경도 데이터
location_data = {
    '서울특별시': (37.5665, 126.9780),
    '제주특별자치도': (33.4996, 126.5312),
    '부산광역시': (35.1796, 129.0756),
    '경기도': (37.4138, 127.5183),
    '인천광역시': (37.4563, 126.7052),
    '광주광역시': (35.1595, 126.8526),
    '강원도': (37.8228, 128.1555),
    '전라남도': (34.8160, 126.4629),
    '충청남도': (36.5184, 126.8000),
    '충청북도': (36.6357, 127.4913),
    '경상북도': (36.4919, 128.8889),
    '경상남도': (35.4606, 128.2132),
    '전라북도': (35.7175, 127.1530),
    '울산광역시': (35.5384, 129.3114),
    '대구광역시': (35.8714, 128.6014),
    '대전광역시': (36.3504, 127.3845),
    '세종특별자치시': (36.4800, 127.2890)
}

def get_lat_lon(location):
    return location_data.get(location, (None, None))

# DataFrame에 적용
df['위도'], df['경도'] = zip(*df['거주지'].apply(get_lat_lon))

In [14]:
results = []
또래인구수_list = []  # 새로운 리스트 생성

for _, row in df.iterrows():
    value = people.loc[row['거주지'], row['연령대']]
    results.append((row['거주지'], row['연령대'], value))
    또래인구수_list.append(value)  # 값을 새 리스트에 추가


# 새로운 열 '또래인구수' 추가
df['또래인구수'] = 또래인구수_list

df.head(3)  # 새로운 열이 추가된 df 확인

,성별,연령대,거주지,가구소득정도,사용목적1순위값,사용목적2순위값,평일일평균레저시간값,주말일평균레저시간값,휴식오락사용비율,취미사용비율,본인계발사용비율,대인관계교제사용비율,기타사용비율,관심레저활동1순위값,계절,위도,경도,또래인구수
0,M,30대,서울특별시,300이상500만원 미만,스트레스 해소를 위해,가족-지인 등과 시간을 보내기 위해,2,3,30.0,40.0,20.0,10.0,0.0,골프 직접 하기,여름,37.5665,126.978,"1,419,153"
1,F,40대,서울특별시,700만원 이상,대인 관계-교제를 위해,마음의 안정-휴식을 위해,1,3,0.0,0.0,50.0,50.0,0.0,영상 컨텐츠 시청,여름,37.5665,126.978,"1,406,016"
2,F,50대,서울특별시,500이상700만원 미만,가족-지인 등과 시간을 보내기 위해,대인 관계-교제를 위해,10,12,80.0,0.0,0.0,20.0,0.0,쇼핑,여름,37.5665,126.978,"1,476,224"

In [15]:
df['또래인구수'] = df['또래인구수'].str.replace(",", "").astype(int)

In [16]:
df = df.drop('거주지', axis=1)

In [17]:
df = df.replace('무응답', 0)
df = df.replace('300만원 미만', 1)
df = df.replace('300이상500만원 미만', 2)
df = df.replace('500이상700만원 미만', 3)
df = df.replace('700만원 이상', 4)

In [18]:
df.to_csv("3_레이블인코딩직전.csv", encoding="utf-8-sig")

In [19]:
df.head()

,성별,연령대,가구소득정도,사용목적1순위값,사용목적2순위값,평일일평균레저시간값,주말일평균레저시간값,휴식오락사용비율,취미사용비율,본인계발사용비율,대인관계교제사용비율,기타사용비율,관심레저활동1순위값,계절,위도,경도,또래인구수
0,M,30대,2,스트레스 해소를 위해,가족-지인 등과 시간을 보내기 위해,2,3,30.0,40.0,20.0,10.0,0.0,골프 직접 하기,여름,37.5665,126.9780,1419153
1,F,40대,4,대인 관계-교제를 위해,마음의 안정-휴식을 위해,1,3,0.0,0.0,50.0,50.0,0.0,영상 컨텐츠 시청,여름,37.5665,126.9780,1406016
2,F,50대,3,가족-지인 등과 시간을 보내기 위해,대인 관계-교제를 위해,10,12,80.0,0.0,0.0,20.0,0.0,쇼핑,여름,37.5665,126.9780,1476224
3,M,40대,4,가족-지인 등과 시간을 보내기 위해,마음의 안정-휴식을 위해,1,5,40.0,20.0,20.0,20.0,0.0,보드게임-퍼즐-바둑-장기-체스 등,여름,37.5665,126.9780,1406016
4,F,60대,4,대인 관계-교제를 위해,남는 시간을 보내기 위해,10,10,70.0,10.0,10.0,5.0,5.0,쇼핑,여름,33.4996,126.5312,93144

In [20]:
# 레이블 인코딩

from sklearn.preprocessing import LabelEncoder
labelcol = ['성별', 
            '연령대' , 
            '사용목적1순위값', 
            '사용목적2순위값', 
            '계절',
            '관심레저활동1순위값',
            ]
le = LabelEncoder()
for column in labelcol:
    df[column] = le.fit_transform(df[column])

    original_labels = le.classes_
    encoded_labels = le.transform(le.classes_)
    mapping = dict(zip(original_labels, encoded_labels))
    print("\n취미 매핑:", mapping)
df.head(3)

취미 매핑: {'F': 0, 'M': 1}

취미 매핑: {'20대': 0, '30대': 1, '40대': 2, '50대': 3, '60대': 4}

취미 매핑: {'가족-지인 등과 시간을 보내기 위해': 0, '건강 관리를 위해': 1, '기타': 2, '남는 시간을 보내기 위해': 3, '대인 관계-교제를 위해': 4, '마음의 안정-휴식을 위해': 5, '스트레스 해소를 위해': 6, '자기 계발을 위해': 7, '자기만족-즐거움을 위해': 8}

취미 매핑: {'가족-지인 등과 시간을 보내기 위해': 0, '건강 관리를 위해': 1, '기타': 2, '남는 시간을 보내기 위해': 3, '대인 관계-교제를 위해': 4, '마음의 안정-휴식을 위해': 5, '스트레스 해소를 위해': 6, '없음': 7, '자기 계발을 위해': 8, '자기만족-즐거움을 위해': 9}

취미 매핑: {'가을': 0, '겨울': 1, '봄': 2, '여름': 3}

취미 매핑: {'SNS -인터넷 커뮤니티 활동': 0, 'e스포츠 영상 시청': 1, 'e스포츠 현장 관람': 2, '가족-친지 만남': 3, '갬블': 4, '걷기-속보-조깅 직접 하기': 5, '게임': 6, '겨울레저스포츠 직접 하기': 7, '격투 스포츠 영상 시청': 8, '격투 스포츠 현장 관람': 9, '계모임-동창회-사교모임': 10, '골프 영상 시청': 11, '골프 직접 하기': 12, '골프 현장 관람': 13, '구기스포츠 직접 하기': 14, '국내 여행': 15, '국내 프로스포츠 영상 시청': 16, '국내 프로스포츠 현장 관람': 17, '기타 관광-여행': 18, '기타 문화예술 직접 활동 및 수강하기': 19, '기타 문화예술관람': 20, '기타 사회교류': 21, '기타 스포츠 영상-현장 관람': 22, '기타 스포츠-운동 직접하기': 23, '기타 자기계발-자기관리': 24, '기타 취미-오락-휴식': 25, '낚시': 26, '낮잠자기': 27, '댄스스포츠 직접 하기': 28, '독서': 29, '드라이브': 30, '등산 직접 하기': 31, '라켓스포츠 직접 하기': 32, '만화책 보기': 33, '맛집-카페 탐방': 34, '무도-격투기 직접 하기': 35, '무용 공연 관람': 36, '문학 직접 활동 및 수강하기': 37, '문학 행사 관람': 38, '미술 직접 활동 및 수강하기': 39, '미술관-전시관 관람': 40, '미용': 41, '박물관 관람': 42, '반려동물 돌보기': 43, '보드게임-퍼즐-바둑-장기-체스 등': 44, '볼링_ 당구-포켓볼 직접 하기': 45, '사진 직접 활동 및 수강하기': 46, '사진 촬영': 47, '사회봉사활동': 48, '산책-걷기': 49, '생활공예-원예': 50, '소풍-피크닉': 51, '쇼핑': 52, '수다-잡담하기': 53, '수상레저스포츠 직접 하기': 54, '수영 직접 하기': 55, '수집': 56, '신문-잡지보기': 57, '액티비티-체험': 58, '어학-기술-자격증 취득': 59, '연극-뮤지컬 관람': 60, '영상 컨텐츠 시청': 61, '영상 컨텐츠 제작': 62, '영화관 관람': 63, '온천-사우나-찜질방': 64, '요가-필라테스 직접 하기': 65, '요리-베이킹': 66, '음악 공연 관람': 67, '음악 직접 활동 및 수강하기': 68, '음악-라디오 감상': 69, '음주-유흥': 70, '익스트림스포츠 직접하기': 71, '인테리어': 72, '자전거-싸이클-산악자전거 직접 타기': 73, '전통예술 직접 활동 및 수강하기': 74, '종교활동': 75, '줄넘기-맨손체조-스트레칭 직접 하기': 76, '축제 참가': 77, '춤-무용 직접 활동 및 수강하기': 78, '친구-이성친구 만남': 79, '캠핑-차박': 80, '테마파크-시설 방문': 81, '해외 프로스포츠 영상 시청': 82, '해외여행': 83, '헬스-보디빌딩 직접 하기': 84}

,성별,연령대,가구소득정도,사용목적1순위값,사용목적2순위값,평일일평균레저시간값,주말일평균레저시간값,휴식오락사용비율,취미사용비율,본인계발사용비율,대인관계교제사용비율,기타사용비율,관심레저활동1순위값,계절,위도,경도,또래인구수
0,1,1,2,6,0,2,3,30.0,40.0,20.0,10.0,0.0,12,3,37.5665,126.978,1419153
1,0,2,4,4,5,1,3,0.0,0.0,50.0,50.0,0.0,61,3,37.5665,126.978,1406016
2,0,3,3,0,4,10,12,80.0,0.0,0.0,20.0,0.0,52,3,37.5665,126.978,1476224

In [45]:
def get_key_from_value(dictionary, search_value):
    for key, value in dictionary.items():
        if value == search_value:
            return key
    return None

In [21]:
original_labels = le.classes_
encoded_labels = le.transform(le.classes_)
mapping = dict(zip(original_labels, encoded_labels))
print(mapping)

{'SNS -인터넷 커뮤니티 활동': 0, 'e스포츠 영상 시청': 1, 'e스포츠 현장 관람': 2, '가족-친지 만남': 3, '갬블': 4, '걷기-속보-조깅 직접 하기': 5, '게임': 6, '겨울레저스포츠 직접 하기': 7, '격투 스포츠 영상 시청': 8, '격투 스포츠 현장 관람': 9, '계모임-동창회-사교모임': 10, '골프 영상 시청': 11, '골프 직접 하기': 12, '골프 현장 관람': 13, '구기스포츠 직접 하기': 14, '국내 여행': 15, '국내 프로스포츠 영상 시청': 16, '국내 프로스포츠 현장 관람': 17, '기타 관광-여행': 18, '기타 문화예술 직접 활동 및 수강하기': 19, '기타 문화예술관람': 20, '기타 사회교류': 21, '기타 스포츠 영상-현장 관람': 22, '기타 스포츠-운동 직접하기': 23, '기타 자기계발-자기관리': 24, '기타 취미-오락-휴식': 25, '낚시': 26, '낮잠자기': 27, '댄스스포츠 직접 하기': 28, '독서': 29, '드라이브': 30, '등산 직접 하기': 31, '라켓스포츠 직접 하기': 32, '만화책 보기': 33, '맛집-카페 탐방': 34, '무도-격투기 직접 하기': 35, '무용 공연 관람': 36, '문학 직접 활동 및 수강하기': 37, '문학 행사 관람': 38, '미술 직접 활동 및 수강하기': 39, '미술관-전시관 관람': 40, '미용': 41, '박물관 관람': 42, '반려동물 돌보기': 43, '보드게임-퍼즐-바둑-장기-체스 등': 44, '볼링_ 당구-포켓볼 직접 하기': 45, '사진 직접 활동 및 수강하기': 46, '사진 촬영': 47, '사회봉사활동': 48, '산책-걷기': 49, '생활공예-원예': 50, '소풍-피크닉': 51, '쇼핑': 52, '수다-잡담하기': 53, '수상레저스포츠 직접 하기': 54, '수영 직접 하기': 55, '수집': 56, '신문-잡지보기': 57, '액티비티-체험': 58, '어학-기술-자격증 취득': 59, '연극-뮤지컬 관람': 60, '영상 컨텐츠 시청': 61, '영상 컨텐츠 제작': 62, '영화관 관람': 63, '온천-사우나-찜질방': 64, '요가-필라테스 직접 하기': 65, '요리-베이킹': 66, '음악 공연 관람': 67, '음악 직접 활동 및 수강하기': 68, '음악-라디오 감상': 69, '음주-유흥': 70, '익스트림스포츠 직접하기': 71, '인테리어': 72, '자전거-싸이클-산악자전거 직접 타기': 73, '전통예술 직접 활동 및 수강하기': 74, '종교활동': 75, '줄넘기-맨손체조-스트레칭 직접 하기': 76, '축제 참가': 77, '춤-무용 직접 활동 및 수강하기': 78, '친구-이성친구 만남': 79, '캠핑-차박': 80, '테마파크-시설 방문': 81, '해외 프로스포츠 영상 시청': 82, '해외여행': 83, '헬스-보디빌딩 직접 하기': 84}

In [22]:
df.to_csv("4_레이블인코딩후.csv", encoding="utf-8-sig")

In [23]:
df['관심레저활동1순위값'].value_counts()

관심레저활동1순위값
61    3047
49    2222
5     1797
6     1688
15    1371
      ...
8       24
2       21
9       18
20      13
13      12
Name: count, Length: 85, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [25]:
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

# 데이터와 레이블 분리
X = df.drop('관심레저활동1순위값', axis=1)
y = df['관심레저활동1순위값']

# 오버샘플링
ros = RandomOverSampler(random_state=42)
X_resampled, y_resampled = ros.fit_resample(X, y)

# 결과 확인
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=11)
Counter(y_resampled)

Counter({12: 3047,
         61: 3047,
         52: 3047,
         44: 3047,
         66: 3047,
         58: 3047,
         77: 3047,
         49: 3047,
         48: 3047,
         15: 3047,
         31: 3047,
         62: 3047,
         75: 3047,
         84: 3047,
         59: 3047,
         53: 3047,
         79: 3047,
         16: 3047,
         29: 3047,
         6: 3047,
         80: 3047,
         63: 3047,
         40: 3047,
         50: 3047,
         5: 3047,
         14: 3047,
         32: 3047,
         3: 3047,
         83: 3047,
         39: 3047,
         10: 3047,
         25: 3047,
         24: 3047,
         76: 3047,
         17: 3047,
         55: 3047,
         73: 3047,
         0: 3047,
         69: 3047,
         30: 3047,
         27: 3047,
         34: 3047,
         78: 3047,
         65: 3047,
         81: 3047,
         70: 3047,
         68: 3047,
         22: 3047,
         51: 3047,
         18: 3047,
         82: 3047,
         43: 3047,
         4: 3047,
         47: 3047,
         57: 3047,
         33: 3047,
         35: 3047,
         13: 3047,
         26: 3047,
         2: 3047,
         74: 3047,
         60: 3047,
         64: 3047,
         71: 3047,
         8: 3047,
         36: 3047,
         37: 3047,
         56: 3047,
         38: 3047,
         11: 3047,
         41: 3047,
         1: 3047,
         67: 3047,
         72: 3047,
         28: 3047,
         19: 3047,
         23: 3047,
         21: 3047,
         45: 3047,
         9: 3047,
         42: 3047,
         46: 3047,
         20: 3047,
         54: 3047,
         7: 3047})

In [26]:
# from sklearn.model_selection import GridSearchCV

# # 탐색할 하이퍼파라미터 범위 정의
# # param_grid = {
# #     'n_estimators': [100, 200, 300],
# #     'max_depth': [None, 10, 20, 30],
# #     'min_samples_split': [2, 5, 10],
# #     'min_samples_leaf': [1, 2, 4],
# #     'max_features': ['auto', 'sqrt']
# # }
# param_grid = {'max_depth': [30,],
#   'max_features': ['sqrt',],
#   'min_samples_leaf': [1],
#   'min_samples_split': [2],
#   'n_estimators': [300],
# }

# # 그리드 탐색 객체 생성
# grid_search = GridSearchCV(RandomForestClassifier(random_state=11), 
#                            param_grid, 
#                            cv=5, 
#                            n_jobs=-1, 
#                            verbose=2)

# # 그리드 탐색 수행
# grid_search.fit(X_train, y_train)


# # model = RandomForestClassifier(n_estimators=100, random_state=42)
# # model.fit(X_train, y_train)
# y_pred = grid_search.predict(X_test)
# accuracy = accuracy_score(y_test, y_pred)
# print(f"정확도: {accuracy:.6f}")

In [27]:
rf = RandomForestClassifier(random_state=11,
                            max_depth=30,
                            max_features='sqrt',
                            min_samples_leaf=1,
                            min_samples_split=2,
                            n_estimators=300
                            )
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.9678565223266858

In [28]:
round(accuracy, 2)

0.97

In [29]:
X_test.values

array([[1.000000e+00, 3.000000e+00, 1.000000e+00, ..., 3.741380e+01,
        1.275183e+02, 2.318045e+06],
       [0.000000e+00, 4.000000e+00, 2.000000e+00, ..., 3.515950e+01,
        1.268526e+02, 1.840470e+05],
       [1.000000e+00, 4.000000e+00, 4.000000e+00, ..., 3.649190e+01,
        1.288889e+02, 4.481370e+05],
       ...,
       [1.000000e+00, 3.000000e+00, 2.000000e+00, ..., 3.741380e+01,
        1.275183e+02, 2.318045e+06],
       [0.000000e+00, 2.000000e+00, 1.000000e+00, ..., 3.517960e+01,
        1.290756e+02, 4.815340e+05],
       [0.000000e+00, 3.000000e+00, 4.000000e+00, ..., 3.741380e+01,
        1.275183e+02, 2.318045e+06]])

In [30]:
X_test.values[0].shape

(16,)

In [31]:
y_test

113422    30
107857    28
252592    82
239616    77
226309    72
          ..
97732     24
13270      5
110522    29
169192    51
6606      49
Name: 관심레저활동1순위값, Length: 51799, dtype: int32

In [32]:
rf.predict(X_test.values)

c:\Users\Admin\miniconda3\envs\gumi_env310\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([30, 28, 82, ..., 61, 51, 49])

In [33]:
X_test.columns

Index(['성별', '연령대', '가구소득정도', '사용목적1순위값', '사용목적2순위값', '평일일평균레저시간값',
       '주말일평균레저시간값', '휴식오락사용비율', '취미사용비율', '본인계발사용비율', '대인관계교제사용비율', '기타사용비율',
       '계절', '위도', '경도', '또래인구수'],
      dtype='object')

In [55]:
# 김예나씨
user_kim = {'성별': 0 , 
            '연령대' : 1, 
            '가구소득정도':4, 
            '사용목적1순위값':1, 
            '사용목적2순위값':6,
            '평일일평균레저시간값' : 1,
            '주말일평균레저시간값' : 3,
            '휴식오락사용비율' : 20, 
            '취미사용비율' : 70,
            '본인계발사용비율' : 10, 
            '대인관계교제사용비율' : 0, 
            '기타사용비율': 0,
            '계절':0, 
            '위도' : 36.4919, 
            '경도' : 128.8889, 
            '또래인구수' : 258107}
data_kim = np.array([list(user_kim.values())])
y_pred = rf.predict(data_kim)
print(y_pred)

key = get_key_from_value(mapping, y_pred)
print(key)

[84]
헬스-보디빌딩 직접 하기

c:\Users\Admin\miniconda3\envs\gumi_env310\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [56]:
# 유은설씨
user_kim = {'성별': 0 , 
            '연령대' : 0, 
            '가구소득정도':2, 
            '사용목적1순위값':8, 
            '사용목적2순위값':6,
            '평일일평균레저시간값' : 2,
            '주말일평균레저시간값' : 7,
            '휴식오락사용비율' : 60, 
            '취미사용비율' : 10,
            '본인계발사용비율' : 10, 
            '대인관계교제사용비율' : 10, 
            '기타사용비율': 10,
            '계절':3, 
            '위도' : 37.4138, 
            '경도' : 127.5183, 
            '또래인구수' : 1677623}
data_kim = np.array([list(user_kim.values())])
y_pred = rf.predict(data_kim)
print(y_pred)

key = get_key_from_value(mapping, y_pred)
print(key)

[61]
영상 컨텐츠 시청

c:\Users\Admin\miniconda3\envs\gumi_env310\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(